html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background:
    url('./images/bg.jpeg');
  background-attachment: fixed;
  background-size: cover;
}

.tasksHeader {
  box-shadow: 10px 10px 149px 0px rgba(0,0,0,0.35);
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 800px;
  color: #F4B350;
  margin-top: 15%;
  padding: 20px 0 20px 0;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;

   & > div:nth-child(2) {
    flex-grow: 2;
   }
  background:
  linear-gradient(95deg, rgba(0,0,0,0.1), rgba(0, 0, 0, 0.5)),
    url('./images/bg.jpeg');
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  // text-shadow: 3px 3px 10px #000;
}
.filter-box {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  color: #BE9136;
  background: #F2C04D;
}

.white-text {
  color: white;
  .selected {
    font-weight: bold;
  }
}

.red-text {
  color: red;
  font-weight: bold;
}

.task-box {
  display: flex;
  padding: 10px 10px;
}

.tasksFilter {
  background: yellow;
}
.tasksBody {
  background: red;
}

.buttonAddTask {
  margin: 0 15px 0 15px;
}

.imageAvatar {
  width:80px;
  height:80px;
  border-radius:50%;
  overflow:hidden;
  background: red;
  object-fit: fill;
  margin: 0 15px 0 15px;
}
.img {
   height: 80px;
   margin-left: -13px;
}
