html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: Helvetica, sans-serif;
  background:
    url('./images/bg.jpeg');
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}
#root {
  max-width: 800px;
  margin: 80px auto 0 auto;
}

.header {
  display: flex;
  background:
  linear-gradient(95deg, rgba(0,0,0,0.1), rgba(0, 0, 0, 0.5)),
    url('./images/bg.jpeg');
  background-size:     cover;
  background-repeat:   no-repeat;
  padding: 10px;
}

.header-avatar {
  flex-basis: auto;
  order: 1;
}

.header-menu {
  flex: 3;
  order: 2;
}

.header-add {
  flex: 0.5;
  order: 3;
  display: flex;
}

.header-add-button {
  margin: auto;
}

.filter {
  display: flex;
}
.filter-options {
  flex: 2;
  order: 1;
  background-color: yellow;
}
.filter-notices {
  flex:  1;
  order: 2;
  background-color: plum;
}
.task-list {
  display: flex;
  flex-direction: column;
}
.task-item {
  flex: 1;
  background-color: firebrick;
  border: 1px solid black;
  display: flex;
}
.task-item-checked {
  flex: 1;
  background-color: palevioletred;
}
.task-item-body {
  flex: 3;
  background-color: goldenrod;
}
.task-item-date {
  flex: 1;
  background-color: rosybrown;
}
.img {
  width:80px;
  height:80px;
  border-radius:50%;
  overflow:hidden;
  object-fit: fill;
  margin: 0 15px 0 15px;
}
